
html,body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0; 
    height: 100%; 
    max-width: 100%;
    overflow-x: hidden;
    background-color: #333533;
    color:white;
}

.flex-container {
    padding: 1%;
  }
  
.flex-item {
    padding: 1%;
}

.flex-item-2 {
    padding: 1%;
    border: 2px solid #242423;
    box-shadow: 5px 10px 18px #242423;
    border-radius: 25px;
}

/*-------------------*/
#barChart{
    background-color: #242423;
    box-shadow: 5px 10px 18px #242423;
    border: 2px solid #242423;
    border-radius: 25px;
    border-width:2px; 
    margin: 1px;
    width: 100%;
    float: left;
    height: 100%;
    color: white;
}

#showDiv label {
    left: 5%;
    padding: 4px;
    background-color: #212529;
    font-family: sans-serif, Arial;
    font-size: 12px;
    height: 30px;
    border: 2px solid #2e4352;
    border-radius: 25px;
}

#showDiv2 label {
  left: 5%;
  padding: 4px;
  height: 30px;
  background-color: #212529;
  font-family: sans-serif, Arial;
  font-size: 12px;
  border: 2px solid #2e4352;
  border-radius: 25px;
}

#showDiv3 label {
  left: 5%;
  padding: 4px;
  height: 30px;
  background-color: #212529;
  font-family: sans-serif, Arial;
  font-size: 12px;
  border: 2px solid #2e4352;
  border-radius: 25px;
}

#showDiv label:hover {
  background-color: #404b53;
  color: white;
}

#showDiv2 label:hover {
  background-color: #404b53;
  color: white;
}

#showDiv input[type="checkbox"]:checked + label {
    background-color: #2e4352;
    color: white;
}

#showDiv2 input[type="checkbox"]:checked + label {
  background-color: #2e4352;
  color: white;
}

#showDiv3 label:hover {
  background-color: #404b53;
  color: white;
}

#showDiv3 input[type="checkbox"]:checked + label {
  background-color: #2e4352;
  color: white;
}

.bar {
    fill: #2e4352;
}

#showDiv{  
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

#showDiv2{  
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

#showDiv3{  
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.barRect, .barRectMag{
    cursor: pointer;
}

.barRectMag{
    stroke: black;
    stroke-width: 0.07%;
}

/*PARALLEL*/
.parallel_area{
    background-color: #242423;
    box-shadow: 5px 10px 18px #242423;
    border: 2px solid #242423;
    border-radius: 25px;
    border-width:2px; 
    float: left;
    display: block;
    position:right;
    margin: 1px;
    width: 100%;
    height: 100%;
}

.brushParallel .extent {
    fill-opacity: .3;
    shape-rendering: crispEdges;
}

.brushParallel .selection {
    fill: green;
    stroke: none;
}

.axisParallel line,
.axisParallel path {
    fill: none;
    shape-rendering: crispEdges;
}

.axisParallel text {
    cursor: move;
}
.tick text{
    fill: #E8EDDF;
}
.background path {
    fill: none;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
}

/*------------------*/
#map-holder {
    border: 2px solid #242423;
    box-shadow: 5px 10px 18px #242423;
    border-radius: 25px;
    border-width:2px; 
    float: left;
    margin: 1px;
    width: 100%;
    height: 100%;
    display: block;
}

#map-holder svg{
  z-index: 1;
}
      
#map-holder rect{
    fill: #242423;   /* map background colour */
}

svgMap{
    border-radius: 25px;
    fill: #bff5ff;
}

.country{
    fill: #8a8a8a;   /* country colour */
    stroke: #ffffff; /* country border colour */
    stroke-width: 1; /* country border width */
}
.country-on{
    fill: #b4b5bf;   /* highlight colour for selected country */
}
.countryLabel{
    display: none;   /* hide all country labels by default */
}
.countryName{
    fill: #FFFAFF;   /* country label text colour */
    font-size: 14px;
}
.countryLabelBg{
    fill: rgb(94, 103, 223);   /* country label background colour */
}

#scatter_area{
    background-color: #242423;
    box-shadow: 5px 10px 18px #242423;
    border: 2px solid #242423;
    border-radius: 25px;
    border-width:2px; 
    display: block;
    margin: 1px;
    width: 100%;
    height: 100%;
}

#my_dataviz{
    background-color: #242423;
    box-shadow: 5px 10px 18px #242423;
    border: 2px solid #242423;
    border-radius: 25px;
    border-width:2px; 
    margin: 1px;
    width: 100%;
    height: 100%;
}

#my_dataviz2{
  background-color: #242423;
  box-shadow: 5px 10px 18px #242423;
  border: 2px solid #242423;
  border-radius: 25px;
  border-width:2px; 
  margin: 1px;
  width: 100%;
  height: 100%;
}

#my_dataviz3{
  background-color: #242423;
  box-shadow: 5px 10px 18px #242423;
  border: 2px solid #242423;
  border-radius: 25px;
  border-width:2px; 
  margin: 1px;
  width: 100%;
  height: 100%;
}

#my_dataviz4{
  background-color: #242423;
  box-shadow: 5px 10px 18px #242423;
  border: 2px solid #242423;
  border-radius: 25px;
  border-width:2px; 
  margin: 1px;
  width: 100%;
  height: 100%;
}

#my_datavizz{
  background-color: #242423;
  box-shadow: 5px 10px 18px #242423;
  border: 2px solid #242423;
  border-radius: 25px;
  border-width:2px; 
  margin: 1px;
  width: 100%;
  height: 100%;
}


#showValues{
  visibility: hidden;
}

#showValues2{
  visibility: hidden;
}

#showValues3{
  visibility: hidden;
}

.selct {
    display: inline-block;
    width: 40%;
    border: 2px solid #242423; 
    border-radius: 25px;
}

.selct1 {
  display: inline-block;
  width:70%; 
  font-size:14px; 
  color:#FFFAFF; 
  border: 2px solid #242423; 
  border-radius: 25px;
  border-color: #ff0000 !important;
}

.selct1 > .dropdown-menu{
  font-size: 14px;
  background-color: #242423;
  color: #FFFAFF;
}

.v-select .selected-tag{
  font-size: 14px;
  color: #FFFAFF;
}

.v-select .dropdown-toggle .clear{
  color: #FFFAFF;
}

.v-select .open-indicator:before{
  border-color: #FFFAFF;
  color: #FFFAFF;
}
#compareCheck, #showValues{
    visibility: hidden;
}

#labelCompare{
    padding: 4px;
    display: inline-block;
    background-color: #ddd;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 25px;
    color:black;
}

#labelCompare:hover {
    background-color: #dfd;
}

.filters input[type="checkbox"]:checked + #labelCompare > #labelCompare{
    background-color: #bfb;
    border-color: #4c4;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  #wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-right: 250px;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 400px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
  }
  
  /* Sidebar Styles */
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav > .sidebar-brand a {
    color: #999999;
  }
  
  .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  @media (min-width: 768px) {
    #wrapper {
      padding-right: 0;
    }
    #wrapper.toggled {
      padding-right: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 400px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-left: 0;
    }
  }

  .float-right{
      float:right;
  }
  
  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }


  .legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
  }

  line#limit {
    stroke-width: 3;
    stroke-dasharray: 3 6;
}

.selct2 {
  margin-top: 10px;
  display: inline-block;
  width: 90%;
  height: 30px;
  font-size: 10px;
  border: 2px solid #2e4352; 
  border-radius: 25px;
  background-color: #2e4352;
  color: #e8eddf
}

.selctP {
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  width: 40%;
  height: 30px;
  font-size: 10px;
  border: 2px solid #2e4352; 
  border-radius: 25px;
  background-color: #2e4352;
  color: #e8eddf
}


.selct3 {
  display: inline-block;
  width: 35%;
  height: 40px;
  font-size: 14px;
  border: 2px solid #2e4352; 
  border-radius: 25px;
  background-color: #2e4352;
  color: #e8eddf
}

.pcatext{
  font-size: 12px;
}

.l{
  float: right;
}

.tooltip-inner > .y{
  color: #ffd500;
}

.tooltip-inner > .v{
  color: #8f00ff;
}

.tooltip-inner > .r{
  color:#B80F0A;
}

.tooltip-inner > .g{
  color:green;
}

.tooltip-inner{
  margin-bottom: 10px;
  float:none;
}

.info{
  background-color: #242423;
  color:white;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}


#s1{
  border-color: #ffff00;
}

#s2{
  border-color: #00ffd0;
}